#logo{
    width: 20%;
    margin-left: 5%;
    /* padding: 10px; */
    margin-top: -7%;
   
    
}
.body{
    background-color: #EBFBEE;
    color:black;
}
.navbar{
    margin-left: 63%;
    margin-top: -5%;
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -10%;
}
.nav ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 25px
}
nav ul li a{
    color: black;
    text-decoration: none;
}
#hr{
    text-decoration: underline;
    border-bottom: 1px solid ;
}
#brand{
    width: 15%;
    margin-left: 15%;
    
}
.about{
    text-align: center;
    color:black;
    color: #2b8a3e;
    font-size: 40px;

}
#pic{
    width: 80%;
    margin-left: 10%;
    border-radius: 115px;
    
}
.us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.kijani{
    color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: 25px;
}
footer{
    padding: 2% 20%;
    border-top: #b5e2d5 solid 1px;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 9%;
}
.form{
    margin-left: 34%;
   

}
#touch{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
#first{
    margin-right: 1%;
    color: black;
    font-weight: bold;
    
}
#last{
    margin-left: 30%;
    margin-top: -7.3%;
    color: black;
    font-weight: bold;
}
#email{
    margin-bottom: -3%;
    color: black;
    font-weight: bold;
}
#phone{
    margin-left: 30%;
    margin-top: -5%;
    font-weight: bold;
}
#message{
    margin-top: 3%;
   
    width: 51%;
    height: 10%;

}
.submit{
    margin-left: 17%;
    border-radius: 10px;
    background-color: #88c794;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border: 2px solid #EBFBEE;
    cursor: pointer;
    width: 150px;
    margin-top: 3%;
}
#one{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#our {
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 47%;
    font-weight: 900;
    font-size: 40px;
    color: #2b8a3e;
    
}
#our span{
    border-bottom: #2b8a3e dotted 4px;
}
.team {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap: 7%;
    margin-bottom: 5%;
    margin-top: 3%;
    padding-left: 18%;
  
}
.team div p{
    font-weight: 900;
    font-size: 18px;
    color: #2b8a3e;
}