/* About us */
#logo{
    width: 20%;
    margin-left: 4%;
    padding: 10px;
    margin-top: -7%;
   
    
}
.body{
    background-color: #EBFBEE;
    color:black;
}
.navbar{
    margin-left: 63%;
    margin-top: -5%;
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -10%;
}
.nav ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 25px
}
nav ul li a{
    color: black;
    text-decoration: none;
}
#hr{
    text-decoration: underline;
    border-bottom: 3px solid black;
}
#brand{
    width: 15%;
    margin-left: 15%;
    
}
.about{
    text-align: center;
    color:black;

}
#pic{
    width: 80%;
    margin-left: 10%;
    border-radius: 115px;
    
}
.us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.kijani{
    color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: 25px;
}
footer{
    padding: 2% 20%;
    border-top: #b5e2d5 solid 1px;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 9%;
}
.form{
    margin-left: 34%;
   

}
/* contact us       */
input{
    padding: 10px 30px;
    border-style: none;
    font-weight: bolder;
}
textarea{
    border-style: none;
}
 #touch{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-left: 1%;
} 


#message{
    margin-top: 3%;
   
    width: 51%;
    height: 10%;

}
.submit{

    font-weight: bold;
    font-size: x-large;
   
    cursor: pointer;

        background-color:#087f5b ;
        padding: 17px 55px 17px 55px;
        border-radius: 15px;
        border-style: none;
        margin-right: 10%;
        margin-left: 1%;
        margin-bottom: 10%;
        color: #B2F2BB;
    
}
@media query and(max-width:800px){
    /* contact us */


}